:root {
    --section_background: #d6c09d;
    --section_border: #24a832;
    --background: #F5DFBB;
    --text_color: #341d10;
    --link_color: rgb(7, 209, 24);
    --section_hover: #078f14;
    --share_hover: #24a832;
    --link_hover: rgb(4, 126, 14);
    --slide_bar: #278f86;
    --slide_bar_hover: #99bc41;
    --shadow: rgba(0, 0, 0, 0.3);
    --index_display: none;
    --index_width: 290px;
}

:root:has(#toggleModeButton:checked) {
    --section_background: #341d10;
    --section_border: #24a832;
    --background: #322117;
    --text_color: #F5DFBB;
}

:root:has(#toggleIndexButton:checked) {
    --index_width: 40%;
    --index_display: flex;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text_color);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.header {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 38px;
    font-weight: bold;
    height: 110px;
    padding-left: 24px;
    background-color: var(--section_background);
    color: var(--text_color);
    border-bottom: 10px var(--section_border) solid;
}

.header a {
    font-size: 38px;
    color: var(--text_color);
    text-decoration: none;
}

.logoImage {
    width: 150px;
    height: 50px;
}

.toggleMode {
    position: relative;
    width: 60px;
    height: 34px;
    border: 3px var(--section_border) solid;
    border-radius: 34px;
    margin-right: 5%;
}

.toggleMode input {
    display: none;
}

.toggleMode .toggleMode-btn {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    border-radius: 34px;
    transition: .4s;
}

.toggleMode .toggleMode-btn:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--section_border);
    border-radius: 50%;
    transition: .4s;
}

input:checked+.toggleMode-btn {
    background-color: var(--background);
}

input:checked+.toggleMode-btn:before {
    transform: translateX(26px);
}

.contentCentralTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contentCentralTitle h2 {
    font-size: 36px;
    font-weight: bold;
    margin: 50px;
}

.contentTitleImage {
    display: flex;
    flex-direction: column;
    width: 65%;
    align-items: center;
    margin: 20px auto 40px auto;
}

.contentArticleImage {
    display: flex;
    flex-direction: column;
    width: 720px;
    height: 450px;
    align-items: center;
    margin: 20px auto 40px auto;
}

.contentArticleImage img, .contentTitleImage img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

.contentToggleIndex label {
    font-weight: 400;
}

.contentToggleIndex {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 20px 20% 40px 18%;
    width: var(--index_width);
    border: 1px solid var(--section_border);
}

.toggleIndexButton {
    display: none;
}

.contentToggleIndex h5 {
    margin: 15px auto;
}

.contentToggleIndex h5:has(#toggleIndexButton:checked) {
    margin: 15px auto 20px auto;
}

.contentToggleIndex label,
.contentToggleIndex a {
    text-decoration: none;
    color: var(--link_color);
    cursor: pointer;
}

.contentToggleIndex a:hover,
.textBlock a:hover,
.contentToggleIndex label:hover {
    color: var(--link_hover);
}

.contentToggleIndex ul {
    list-style-type: none;
    display: var(--index_display);
    flex-direction: column;
}

.listIndexItems {
    padding: 0px 0px 0px 40px;
    font-size: 15px;
}

.listIndexItems ul {
    padding: 0px 0px 0px 20px;
}

.listIndexItems li {
    padding: 0px 0px 10px 0px;
}

.contentArticleText {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 20px auto 40px auto;
    width: 65%
}

.subTitle {
    font-size: 26px;
    margin-bottom: 25px;
}

.contentArticleText a {
    text-decoration: none;
    color: var(--link_color);
}

.articleText {
    margin: 8px 0;
    text-indent: 30px;
    padding-left: 10px;
}

.contentArticleSlide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin: auto;
    width: 65%
}

.articleSlider {
    width: 720px;
    height: 450px;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
}

.contentArticleSlide .articleSlider img {
    height: 100%;
    width: 100%;
}

.sliderInput {
    display: none;
}
@keyframes slideshow1 {
    0%, 16.66% {
        margin-left: 0%;
    }

    33.33%, 49.99% {
        margin-left: -33.33%;
    }

    66.66%, 83.32% {
        margin-left: -66.66%;
    }

    100% {
        margin-left: 0%;
    }
}

@keyframes slideshow2 {
    0%, 16.66% {
        margin-left: -33.33%;
    }

    33.33%, 49.99% {
        margin-left: -66.66%;
    }

    66.66%, 83.32% {
        margin-left: 0%;
    }

    100% {
        margin-left: -33.33%;
    }
}


@keyframes slideshow3 {
    0%, 16.66% {
        margin-left: -66.66%;
    }

    33.33%, 49.99% {
        margin-left: 0%;
    }

    66.66%, 83.32% {
        margin-left: -33.33%;
    }

    100% {
        margin-left: -66.66%;
    }
}


.slider {
    display: flex;
    width: 300%;
    height: 100%;
}

.slideshow {
    width: 33.33%;
    transition: .4s;
}

#slide1:checked~.s1 {
    animation: slideshow1 20s infinite;
    position: relative;
}

#slide2:checked~.s1 {
    animation: slideshow2 20s infinite;
    position: relative;
}

#slide3:checked~.s1 {
    animation: slideshow3 20s infinite;
    position: relative;
}

.sliderNavigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.sliderBar {
    width: 70px;
    height: 11px;
    border: 2px solid var(--slide_bar);
    border-radius: 25px;
    margin: 2%;
}

.sliderBar:hover {
    transition: 0.4s;
    background-color: var(--slide_bar_hover);
}




.contentCommentSession {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 20px auto 40px auto;
    width: 65%
}

.contentCommentSession h2 {
    margin-bottom: 0;
}

.commentAmount {
    font-size: 16px;
}

.horizontalLine {
    height: 1px; 
    width: 100%; 
    background-color: #000000; 
    margin-bottom: 20px;
}






.contentCommentCard {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin: 15px;
  max-width: 800px;
  font-family: Arial, sans-serif;
}

.commentCardUserAvatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.commentCard {
  flex: 1;
}

.commentCardHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.commentCardUserName {
  font-weight: bold;
  color: #0f52ba;
}

.commentCardTimestamp {
  font-size: 12px;
  color: #666;
}

.commentCardText {
  margin: 0;
  font-size: 14px;
}









.footer {
    border-top: 10px var(--section_border) solid;
    background-color: var(--section_background);
    padding: 5px 70px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer a {
    text-decoration: none;
    color: var(--text_color);
}

.contentBlogAbout {
    width: 300px;
    margin: 20px;
}

.contentBlogAbout h3 {
    margin-bottom: 10px;
    color: var(--text_color);
}

.contentBlogAbout p {
    color: var(--text_color);
    line-height: 1.5;
}

.contentArticleShare {
    display: flex;
    justify-content: center;
    width: 170px;
}

.contentArticleShare ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.contentArticleShare ul li {
    list-style-type: none;
    display: block;
    margin-right: 14px;
    padding: 10px;
}

.shareItem {
    width: 10px;
    height: 10px;
}

.shareLabel {
    height: 10px;
    width: 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shareImage {
    width: 20px;
    height: 20px;
}

.logoImage {
    width: 150px;
    height: 50px;
}

.contentBlogInformation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 20px 20px;
    width: 100%;
    font-size: 14px;
    color: var(--text_color);
}

.address {
    margin: 0;
}

.copyright {
    margin: 0;
}

.copyright a {
  text-decoration: underline;
}
